.App {
  max-width: 550px;
  margin: 0 auto; 
}

.App h1 {
  text-align: center;
  color: #b83f45;
  font-size: 100px;
  font-weight: 100;
}

.App .todos {
  max-width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0,0,0,0.1);
}

.todo-input {
  line-height: 24px;
  color: #e6e6e6;
  font-size: 24px;
  border-bottom: #e6e6e6 1px solid; 
  display: flex;
}

.todo-input input {
  border: none;
  outline:none;
  font-size: 24px;
  padding:16px;
  flex: 1;
}

.todo-input input::placeholder {
  color:  #e6e6e6;
  font-style: italic;
  font-size: 24px;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  line-height: 36px;
  padding: 8px 16px 8px 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  align-items: center;
  display: flex;
}

.todo-list li .regular{
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #4d4d4d;
  padding-left: 16px;
  word-break: break-all;
}

.deleted {
  text-decoration: line-through;
  color:#d9d9d9;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  padding-left: 16px;
  word-break: break-all;
}

.todo-list li button {
  outline: none; 
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.todo-list li .delete-button {
  right: 10px;
  position: absolute;
}

.footer {
  line-height: 24px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 8px 16px 8px 16px;
}

.footer .count {
  font-weight: 300;
  font-size: 15px;
  color: #111111;
}



